<div class="home">
    <div class="home-header">
        <div class="container">
            <div class="top-header">
                <div class="logo float-left">
                    <a href="#"><img src="assets/images/home/logo.png" class="main-logo"></a>
                </div>
                <div class="button text-center float-right" [routerLink]="['/login']">
                    {{'HOME.SIGN_IN' | translate}}
                </div>
                <div class="button text-center float-right" [routerLink]="['/']">
                    {{'HOME.SIGN_UP' | translate}}
                </div>
            </div>
        </div>
    </div>

    <div class="home-bg">
        <img src="assets/images/footer/bg.png">
        <div class="title card text-center">
            <h1>{{'HOME.HOW_TO_SELL_COIN' | translate}}</h1>
        </div>
    </div>

    <div class="home-content">
        <div class="container">
            <p>Sitemizde mevcut olan coinlerden satın alabilmek için, sitemize girip hesap oluşturmanız ve profilinizi onaylatmanız gerekmektedir. Profil onaylama işlemi için ''güvenlik ayarları'' bölümünü kullanabilirsiniz. Onay sonucunda hesabınıza yatırdığınız miktar para kadar koin alabilirsiniz .</p>
            <p>Koin satabilmek için öncelikle satmak istediğiniz koini seçmelisiniz. Daha sonra SATIŞ EMRİ OLUŞTUR bölümünden satmak istediğiniz fiyatı ve miktarı girerek satılanlar listesinde satış işleminizi takip edebilirsiniz. Diğer kullanıcılar veya kendiniz Sizin girdiiğiniz fiyattan  almak istediklerinde sistemimiz otomatik olarak bunları eşleştirecektir. Koin satım işleminiz tamamlanacaktır.</p>
        </div>
    </div>
    <div class="home-footer">
        <div class="text-center">
            <a href="#"><img src="assets/images/home/logo-black.png" style="width: 250px;"></a>
        </div>
        <div class="footer-link text-center">
            <ul>
                <li><a [routerLink]="['/buycoin']"><i class="fa fa-circle"></i> {{'HOME.HOW_TO_BUY_COIN' | translate}}</a></li>
                <li><a [routerLink]="['/overview']"><i class="fa fa-circle"></i> {{'HOME.COIN_OVERVIEW' | translate}}</a></li>
                <li><a [routerLink]="['/sellcoin']"><i class="fa fa-circle"></i> {{'HOME.HOW_TO_SELL_COIN' | translate}}</a></li>
                <li><a [routerLink]="['/contactus']" ><i class="fa fa-circle"></i> {{'HOME.CONTACT_US' | translate}}</a></li>
                <li><a target="_blank" href="https://sistemkoin.com/api/market/ticker"><i class="fa fa-circle"></i> {{'HOME.HELPS' | translate}}</a></li>
                <li><a [routerLink]="['/term']" ><i class="fa fa-circle"></i> {{'HOME.TERMS_CONDITIONS'  | translate}}</a></li>
                <li><a [routerLink]="['/ucretler']"><i class="fa fa-circle"></i> {{'HOME.COMMISSION'  | translate}}</a></li>
                <li><a target="_blank" href="https://goo.gl/forms/BANjIh59Kax9UkSp1"><i class="fa fa-circle"></i> {{'HOME.REQUEST_LISTING'  | translate}}</a></li>
            </ul>
            <div class="footer-text">
                <h5>{{'HOME.FOOTER_TEXT' | translate}}</h5>
            </div>
        </div>
    </div>
</div>
