<div class="login-register" style="background: #eef5f9;">
    <div class="login-box card">

        <div class="card-body">
            <h3 class="box-title m-b-20">Reset Password</h3>
            <form class="form-horizontal form-material" id="loginform" [formGroup]="reset">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password"
                               name="password"
                               class="form-control"
                               formControlName="password"
                               placeholder="Password..."
                               [(ngModel)]="user.password">
                        <app-field-error-display [displayError]="validate.isFieldValid(reset, 'password')" errorMsg="Password is required.">
                        </app-field-error-display>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password"
                               class="form-control"
                               name="confirmPassword"
                               formControlName="confirmPassword"
                               placeholder="Confirm Password...">
                        <app-field-error-display [displayError]="validate.isFieldValid(reset, 'confirmPassword')" errorMsg="These passwords don't match. Try again!">
                        </app-field-error-display>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                (click)="onResetPassword()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>