
.border-right-1 {
  border-right: 1px solid;
  padding-right: 30px;
}

.qrCode {
  width: 130px;
}

.ref-url {
  position: relative;;

  button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.height-500 {
  min-height: 500px;
  max-height: 500px;
  overflow-x: auto;
}