<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<div class="right-sidebar">
  <div class="slimscrollright">
    <div class="rpanel-title"> Chat <span><i class="ti-close right-side-toggle"></i></span> </div>
    <div class="r-panel-body">
      <ul class="chatonline">
      </ul>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
