<div class="row">
    <!-- Column -->
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round round-lg align-self-center round-warning"><i class="mdi mdi-email"></i>
                            </div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0 font-light">{{user.selectedUser.email}}</h3>
                                <h5 class="text-muted m-b-0">Email Address</h5></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills">
                            <li class=" nav-item text-center">
                                <a [routerLink]="['profile']" class="nav-link" routerLinkActive="active">
                                    <span><b>Profile</b></span>
                                </a>
                            </li>
                            <li class=" nav-item text-center">
                                <a [routerLink]="['ref']" class="nav-link" routerLinkActive="active">
                                    <span><b>Referral</b></span>
                                </a>
                            </li>
                            <li class=" nav-item text-center">
                                <a [routerLink]="['coin']" class="nav-link" routerLinkActive="active">
                                    <span><b>Coin</b></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>


